/* user-analytics.component.css */
.charts-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  canvas {
    max-width: 100%;
  }
  